$screen-lr: 1400px;
$screen-md: 1100px;
$screen-sm: 900px;
$mainFontFamily: 'Chilanka';
$secondaryFontFamily: 'Montserrat';
$fontSize: 15px;
$mainFontColor: #DEAD6F;

$secondColor: rgba(234,234,234,1);
$mainColor: #F9F3EC;

@font-face{
  font-family: 'Chilanka';
  src: url("/assets/fonts/Chilanka-Regular.ttf");
}

@font-face{
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}

@mixin autoMargin(){
  margin:{
    left:auto;
    right: auto;
  };
}

@mixin setFont($fontFamily, $SizeOfFont, $textTransform, $setColorFont){
  font-size: $fontSize + $SizeOfFont;
  font-family: $fontFamily;
  text-transform: $textTransform;
  color: $setColorFont;
}