@media only screen and (max-width: $screen-lr) {
  header{
    > div{
      max-width: $screen-md !important;
    }
  }
  main{
    .banner__motto{
      font-size: 75px !important;
    }
    .shopShortcuts{
      max-width: $screen-md !important;
    }
    .products{
      max-width: $screen-md !important;
    }
  }

  footer{
    max-width: $screen-md !important;
  }
}

@media screen and (max-width:$screen-md + 50){
  header{
    > div{
      max-width: $screen-sm !important;
      justify-content: space-around !important;
    }

    .topMenu__contacts{
      display: none !important;
    }

    .bottomMenu__nav{
      display: none !important;
    }
  }
  main{
    .banner__motto{
      font-size: 50px !important;
    }
    .banner__img{
      width: 480px!important;
      margin-bottom: 30px;
    }
    .shopShortcuts{
      max-width: $screen-sm !important;
    }
    .products{
      max-width: $screen-sm !important;
    }
    .product__categories{
      .categories__title{
        width: 40px!important;
        margin-top: 20px!important;
      }

    }
    .sale{
      .sale__motto{
        width: 240px !important;
      }
      .sale__text{
        margin-bottom: 65px!important;
      }
    }
    .photos{
      justify-content: space-around!important;
    }
  }

  footer{
    max-width: $screen-sm !important;
  }
}

@media screen and (max-width:$screen-sm){
  header{
    > div{
      max-width: $screen-xsm !important;
      justify-content: space-around !important;
    }

    .topMenu__contacts{
      display: none !important;
    }

    .bottomMenu__nav{
      display: none !important;
    }

  }
  main{
    .banner{
      flex-direction: column!important;
    }
    .banner__motto{
      font-size: 35px !important;
    }
    .banner__img{
      width: 385px!important;
      margin-bottom: 30px;
    }
    .banner__text{
      margin-bottom: 50px;
    }
    .shopShortcuts{
      max-width: $screen-xsm !important;
    }
    .products{
      max-width: $screen-xsm !important;
    }
    .butt{
      padding: 10px 40px;
      margin-top: 20px;

    }
    .products__header{
      align-items: unset !important;
      flex-direction: column;
      .product__title{
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
    .product__categories{
      .categories__title{
        width: 40px!important;
        margin-top: 20px!important;
      }

    }
    .likedProduct{
      margin-top: 20px !important;
    }
    .review__text{
      font-size: 19px !important;
    }
    .sale{
      .sale__motto{
        width: 220px !important;
      }
      .sale__text{
        margin-bottom: 65px!important;
      }
    }
    .form__title{
      font-size: 35px !important;
    }
    .form__input{
      width: 221px;
      transform: translateX(-40px);
    }
    .photos{
      justify-content: space-around!important;
    }
  }

  footer{
    max-width: $screen-xsm !important;
  }
}

