@font-face {
  font-family: "Chilanka";
  src: url("/assets/fonts/Chilanka-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}
@media only screen and (max-width: 1400px) {
  header > div {
    max-width: 1100px !important;
  }
  main .banner__motto {
    font-size: 75px !important;
  }
  main .shopShortcuts {
    max-width: 1100px !important;
  }
  main .products {
    max-width: 1100px !important;
  }
  footer {
    max-width: 1100px !important;
  }
}
@media screen and (max-width: 1150px) {
  header > div {
    max-width: 800px !important;
    justify-content: space-around !important;
  }
  header .topMenu__contacts {
    display: none !important;
  }
  header .bottomMenu-nav {
    display: none !important;
  }
  header .bottomMenu____responsive {
    display: flex !important;
  }
  main .banner__motto {
    font-size: 50px !important;
  }
  main .banner__img {
    width: 480px !important;
    margin-bottom: 30px;
  }
  main .shopShortcuts {
    max-width: 800px !important;
  }
  main .products {
    max-width: 800px !important;
  }
  main .product__categories .categories__title {
    width: 40px !important;
    margin-top: 20px !important;
  }
  main .sale .sale__motto {
    width: 240px !important;
  }
  main .sale .sale__text {
    margin-bottom: 65px !important;
  }
  main .photos {
    justify-content: space-around !important;
  }
  footer {
    max-width: 800px !important;
  }
}
@media screen and (max-width: 800px) {
  header > div {
    max-width: 400px !important;
    justify-content: space-around !important;
  }
  header .header__topMenu {
    flex-direction: column !important;
  }
  header .header__topMenu .topMenu__input {
    width: 380px !important;
    margin-top: 20px;
  }
  header .header__topMenu .topMenu__search {
    top: 38px !important;
  }
  header .bottomMenu-nav {
    display: none !important;
  }
  main .banner {
    flex-direction: column !important;
  }
  main .banner__motto {
    font-size: 35px !important;
  }
  main .banner__img {
    width: 385px !important;
    margin-bottom: 30px;
  }
  main .banner__text {
    margin-bottom: 50px;
  }
  main .shopShortcuts {
    max-width: 400px !important;
  }
  main .products {
    max-width: 400px !important;
  }
  main .butt {
    padding: 10px 40px;
    margin-top: 20px;
  }
  main .products__header {
    align-items: unset !important;
    flex-direction: column;
  }
  main .products__header .product__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  main .product__categories .categories__title {
    width: 40px !important;
    margin-top: 20px !important;
  }
  main .likedProduct {
    margin-top: 20px !important;
  }
  main .review__text {
    font-size: 19px !important;
  }
  main .sale .sale__motto {
    width: 220px !important;
  }
  main .sale .sale__text {
    margin-bottom: 65px !important;
  }
  main .form__title {
    font-size: 35px !important;
  }
  main .form__input {
    width: 221px;
    transform: translateX(-40px);
  }
  main .photos {
    justify-content: space-around !important;
  }
  footer {
    max-width: 400px !important;
  }
}
.rightMenu {
  display: none;
  height: 100%;
  width: 38%;
  background-color: white;
  position: absolute;
  z-index: 90;
  right: 0;
}
.rightMenu .right__nav {
  padding: 30% 20px;
}
.rightMenu .right__nav .right-select {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(209, 209, 209);
  padding: 14px;
  margin-bottom: 20px;
}
.rightMenu .right__nav .right-categories {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.rightMenu .right__nav .right-categories .right-cat {
  margin-top: 25px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: rgba(0, 0, 0, 0.45) solid 1px;
}

.main__select {
  font-family: "Chilanka";
  font-size: 19px;
  border: none;
}

.main__categories {
  font-family: "Chilanka";
  font-size: 19px;
}
.main__categories .main__category {
  cursor: pointer;
}
.main__categories .main__category:not(:last-child) {
  margin-right: 50px;
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

.butt {
  border-radius: 4px;
  padding: 28px 50px;
  font-family: "Chilanka";
  font-size: 19px;
  border: 1px solid #41403E;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.butt:hover {
  color: white;
  background: #41403e;
  border: 1px solid #41403e;
}

.butt:hover a {
  color: white;
}

.splide__arrow {
  background: none;
}
.splide__arrow svg {
  width: 100px;
  height: 60px;
}

.active {
  color: #DEAD6F;
}

.lowBrightness {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4705882353);
  position: absolute;
  z-index: 2;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
header .header__topMenu {
  padding-top: 28px;
}
header .topMenu__searchBar {
  position: relative;
}
header .topMenu__searchBar .topMenu__input {
  font-family: "Montserrat";
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid rgb(234, 234, 234);
  width: 472px;
  padding: 15px 25px;
}
header .topMenu__searchBar .topMenu__search {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
header .topMenu__contacts {
  display: flex;
  font-family: "Chilanka";
  font-size: 19px;
  letter-spacing: 0.2px;
}
header .topMenu__contacts .topMenu__contactLabel {
  text-align: right;
  margin-bottom: 8px;
  font-family: "Montserrat";
  font-size: 15px;
  color: #908F8D;
}
header .topMenu__contacts .topMenu__phone {
  margin-right: 67px;
}
header .topMenu__contacts .topMenu__emailLink, header .topMenu__contacts .topMenu__phoneLink {
  color: black;
}
header .header_divider {
  display: block;
  border: 1px solid rgb(234, 234, 234);
  margin-top: 28px;
  margin-bottom: 20px;
}
header .header__bottomMenu {
  margin-bottom: 20px;
}
header .header__bottomMenu nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Chilanka";
  font-size: 19px;
}
header .header__bottomMenu nav .bottomMenu__userOptions .bottomMenu__userOptionImg {
  cursor: pointer;
}
header .header__bottomMenu nav .bottomMenu__userOptions .bottomMenu__userOptionImg:not(:last-child) {
  margin-right: 40px;
}
header .header__bottomMenu .bottomMenu____responsive {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
}
header .header__bottomMenu .bottomMenu____responsive .bottomMenu__userOptionImg:not(:last-child) {
  margin-right: 40px;
}
header .header__bottomMenu .bottomMenu____responsive .bottomMenu__menu {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(209, 209, 209);
}
header .header__bottomMenu .bottomMenu____responsive .bottomMenu__menu .bottomMenu__icon .menu {
  width: 30px;
  height: 2px;
  background-color: rgb(65, 64, 62);
}
header .header__bottomMenu .bottomMenu____responsive .bottomMenu__menu .bottomMenu__icon .menu:nth-child(2) {
  margin: 5px 0;
}

.main #headSplider {
  margin-bottom: 150px;
  background-color: #F9F3EC;
}
.main .banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .banner .banner__text {
  margin-left: 58px;
}
.main .banner .banner__text .banner__promo {
  font-size: 19px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #DEAD6F;
}
.main .banner .banner__text .banner__motto {
  font-size: 88px;
  font-family: "Chilanka";
  text-transform: capitalize;
  color: black;
  max-width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.main .banner .banner__text .banner__motto .banner__span {
  color: #DEAD6F;
}
.main .shopShortcuts {
  margin-bottom: 150px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.main .shopShortcuts .shopShortcuts__shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 230px;
  margin-right: 20px;
  margin-top: 20px;
}
.main .shopShortcuts .shopShortcuts__shop .shopShortcuts__title {
  margin-top: 16px;
  font-size: 28px;
  font-family: "Chilanka";
  text-transform: capitalize;
  color: #41403E;
  font-weight: 400;
}
.main .products {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 164px;
}
.main .products .products__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .products .products__header .product__title {
  font-size: 55px;
  font-family: "Chilanka";
  text-transform: capitalize;
  color: black;
  font-weight: 400;
}
.main .products .products__header .product-butt {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main .products .products__carousel, .main .products .bestSelling__carousel {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.main .products .products__carousel .splide__arrows .splide__arrow, .main .products .bestSelling__carousel .splide__arrows .splide__arrow {
  height: 48px;
}
.main .products .products__carousel .splide__arrows .splide__arrow--next, .main .products .bestSelling__carousel .splide__arrows .splide__arrow--next {
  right: 0;
}
.main .products .products__carousel .products__product, .main .products .bestSelling__carousel .products__product {
  max-width: 312px;
}
.main .products .products__carousel .products__product .product__imageDiv, .main .products .bestSelling__carousel .products__product .product__imageDiv {
  background-color: #F9F3EC;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  height: 284px;
  width: 310px;
  margin-bottom: 30px;
  padding-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .products .products__carousel .products__product .product__imageDiv .product_image, .main .products .bestSelling__carousel .products__product .product__imageDiv .product_image {
  transform: translateY(10px);
}
.main .products .products__carousel .products__product .product__promo, .main .products .bestSelling__carousel .products__product .product__promo {
  transform: translate(-110px, -110px);
  margin: 16px;
  border: 1px solid rgb(173, 181, 189);
  padding: 5px 16px;
  font-size: 16px;
  font-family: "Chilanka";
  text-transform: uppercase;
  color: rgb(65, 64, 62);
  width: 70px;
  position: absolute;
  border-radius: 8px;
}
.main .products .products__carousel .products__product .product__info .product__name, .main .products .bestSelling__carousel .products__product .product__info .product__name {
  font-size: 26px;
  font-family: "Chilanka";
  text-transform: capitalize;
  color: rgb(65, 64, 62);
  font-weight: 400;
  cursor: pointer;
}
.main .products .products__carousel .products__product .product__info .product__rating, .main .products .bestSelling__carousel .products__product .product__info .product__rating {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 7.5px;
  margin-bottom: 10.5px;
}
.main .products .products__carousel .products__product .product__info .product__rating .product__star:not(:last-child), .main .products .bestSelling__carousel .products__product .product__info .product__rating .product__star:not(:last-child) {
  margin-right: 4px;
}
.main .products .products__carousel .products__product .product__info .product__rating::after, .main .products .bestSelling__carousel .products__product .product__info .product__rating::after {
  content: "5.0";
  font-size: 15px;
  font-family: "Montserrat";
  text-transform: none;
  color: rgb(144, 144, 144);
  margin-left: 3.5px;
}
.main .products .products__carousel .products__product .product__info .product__price, .main .products .bestSelling__carousel .products__product .product__info .product__price {
  font-size: 26px;
  font-family: "Montserrat";
  text-transform: none;
  color: #DEAD6F;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 18px;
}
.main .products .products__carousel .products__product .product__events, .main .products .bestSelling__carousel .products__product .product__events {
  display: flex;
  gap: 6px;
  align-items: center;
}
.main .products .products__carousel .products__product .product__events .product__cart, .main .products .bestSelling__carousel .products__product .product__events .product__cart {
  padding: 15px 32px;
}
.main .products .products__carousel .products__product .product__events .likedProduct, .main .products .bestSelling__carousel .products__product .product__events .likedProduct {
  background-color: transparent;
  padding: 17px;
  border: 1px solid #41403E;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}
.main .products .products__carousel .products__product .product__events .likedProduct:hover, .main .products .bestSelling__carousel .products__product .product__events .likedProduct:hover {
  background-color: rgba(255, 17, 10, 0.32);
}
.main .foodies .product__categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .foodies .product__categories .categories__title {
  font-size: 17px;
  font-family: "Chilanka";
  text-transform: uppercase;
  color: #41403E;
  font-weight: 400;
  cursor: pointer;
  width: 35px;
  padding-bottom: 2px;
  border-bottom: 2px solid #D9D9D8;
  transition: all 0.3s ease-in;
}
.main .foodies .product__categories .categories__title:not(:last-child) {
  margin-right: 50px;
}
.main .foodies .product__categories .categories__title:first-child {
  border-bottom: 2px solid #DEAD6F;
}
.main .foodies .product__categories .categories__title:hover {
  border-bottom: 2px solid #DEAD6F;
}
.main .foodies .pet-foodies {
  flex-wrap: wrap;
}
.main .foodies .pet-foodies .food {
  margin-bottom: 50px;
}
.main .sale {
  margin-bottom: 150px;
  background-color: #F9F3EC;
}
.main .sale .sale__text {
  max-width: 480px;
  margin-right: 120px;
}
.main .sale .sale__banner {
  flex-wrap: wrap;
  flex-direction: row-reverse !important;
}
.main .sale .banner__img {
  max-width: 648px;
}
.main .sale .sale__promo {
  font-size: 36px !important;
  font-weight: 300;
  text-transform: capitalize !important;
  margin-bottom: 30px;
}
.main .sale .sale__motto {
  font-size: 75px;
  font-weight: 400;
}
.main .reviews {
  margin-bottom: 200px;
}
.main .reviews .reviews__carousel {
  max-width: 1400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.main .reviews .reviews__carousel .splide__pagination__page {
  transform: translate(20px, 55px);
  width: 20px;
  height: 20px;
}
.main .reviews .reviews__carousel .splide__pagination__page .is-active {
  background: black;
}
.main .reviews .reviews__carousel .reviews__review {
  display: flex;
  justify-content: center;
}
.main .reviews .reviews__carousel .reviews__review .review__image {
  margin-right: 30px;
  margin-bottom: 50px;
  transform: scale(0.6);
}
.main .reviews .reviews__carousel .reviews__review .review__info .review__text {
  max-width: 860px;
  line-height: 150%;
  font-size: 36px;
  font-family: "Chilanka";
  text-transform: normal;
  color: rgb(144, 143, 141);
  font-weight: 400;
}
.main .reviews .reviews__carousel .reviews__review .review__info .review__author {
  font-size: 15px;
  font-family: "Montserrat";
  text-transform: normal;
  color: rgb(65, 64, 62);
  margin-top: 20px;
}
.main .register {
  margin-bottom: 130px;
  background-color: #F9F3EC;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 150px;
  padding-top: 150px;
}
.main .register .register__paws {
  position: absolute;
}
.main .register .first {
  left: 21%;
  top: 15%;
}
.main .register .second {
  right: 15%;
  bottom: 5%;
}
.main .register .register__form {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.main .register .register__form .form__input {
  font-size: 17px;
  font-family: "Chilanka";
  text-transform: capitalize;
  color: #908F8D;
  font-weight: 400;
  background-color: white;
  border: rgba(65, 64, 62, 0.2) 1px solid;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 6px;
}
.main .register .register__form .form__title {
  font-size: 55px;
  font-family: "Chilanka";
  text-transform: capitalize;
  color: #41403E;
  font-weight: 400;
  text-align: center;
  max-width: 556px;
  margin-bottom: 35px;
}
.main .register .register__form .form__title .register__span {
  color: #DEAD6F;
}
.main .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}
.main .photos .photos__photo {
  position: relative;
  cursor: pointer;
  max-width: 300px;
  margin-top: 20px;
}
.main .photos .photos__inst {
  opacity: 0;
  transition: 0.5s;
}
.main .photos .photos__inst img {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 135px;
  left: 133px;
}
.main .photos .photo__photo:hover ~ .photos__inst {
  opacity: 1;
}

footer {
  margin-top: 130px;
  margin-bottom: 100px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
footer .socials, footer .links, footer .newsletter {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
footer .footer__text {
  font-size: 16px;
  font-family: "Montserrat";
  text-transform: none;
  color: #908F8D;
  margin-top: 20px;
  margin-bottom: 30px;
}
footer .footer__title {
  font-size: 26px;
  font-family: "Chilanka";
  text-transform: capitalize;
  color: #41403E;
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 400;
}
footer .socials {
  max-width: 306px;
}
footer .socials .social {
  display: flex;
}
footer .socials .social .social__div {
  width: 45px;
  height: 45px;
  border-radius: 70px;
  border: 0.5px solid #D9D9D8;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
footer .socials .social .social__div .social__svg {
  position: absolute;
  bottom: 32%;
  right: 32%;
}
footer .socials .social .social__div .tube {
  right: 30%;
}
footer .socials .social .social__div:hover {
  background-color: #DEAD6F;
}
footer .socials .social .social__div:hover .social__svg {
  filter: invert(1);
}
footer .links {
  max-width: 306px;
}
footer .links .links__link {
  font-size: 19px;
  font-family: "Chilanka";
  text-transform: capitalize;
  color: #41403E;
  margin-bottom: 8px;
  cursor: pointer;
}
footer .newsletter {
  max-width: 306px;
}
footer .newsletter .newsletter__form {
  position: relative;
}
footer .newsletter .newsletter__form .newsletter__email {
  border: 0.5px solid rgb(217, 217, 216);
  border-radius: 50px;
  font-size: 15px;
  font-family: "Montserrat";
  text-transform: none;
  color: #908F8D;
  padding: 17px;
  width: 100%;
}
footer .newsletter .newsletter__form .newsletter__butt {
  background-color: #DEAD6F;
  border-radius: 50px;
  border: none;
  padding: 15px 15px 12px 15px;
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
