@import "config";

*{
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a{
  text-decoration: none;
}

.butt{
  border-radius: 4px;
  padding: 28px 50px;
  font-family: $mainFontFamily;
  font-size: $fontSize + 4;
  border: 1px solid #41403E;
  text-align: center;
  background-color: transparent;
}

@import "header";
@import "mainBody";
@import "responsive";